.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1.5rem;
  width: 90%;
  max-width: 1140px;
}

.mobileNav {
  position: absolute;
  left: 50%;
  top: -200rem;
  transform: translateX(-50%);
  transition: top 0.3s ease-in-out;
  width: 80%;
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px rgba(80, 86, 98, 0.03);
}
.mobileNav ul {
  list-style: none;
  padding: 1.6rem 0 1rem;
  margin: 0;
}
.open {
  top: 5rem;
}
.nav ul li {
  margin: 1rem 0;
}
.nav ul li a {
  text-decoration: none;
  color: var(--color-dark-blue);
  font-weight: 700;
  font-size: 14px;
  padding: 1rem 2rem;
}
.nav button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.33%,
    rgba(0, 0, 0, 0.6) 99.79%
  );
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  min-height: 100vh;
  width: 100%;
  z-index: 0;
}
.overlay.show {
  opacity: 1;
  visibility: visible;
}
.noScroll {
  overflow: hidden;
}
.header {
  padding-top: 1.5rem;
}
.headerText {
  color: var(--color-dark-blue);
}

.paragraphText {
  color: var(--color-dark-grayish-blue);
}

.headerImage img {
  width: 300px;
  height: auto;
}

.bgTablet {
  background-image: url('/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position: top 30px left;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHeader {
  font-size: 30px;
  color: var(--color-dark-blue);
  font-weight: 800;
}
.sliderHeader {
  font-size: 32px;
  color: var(--color-dark-blue);
  font-weight: 800;
}
.textLeft {
  text-align: left;
  font-size: 14px;
  color: var(--color-dark-grayish-blue);
}
.textCenter {
  text-align: center;
  font-size: 14px;
  color: var(--color-dark-grayish-blue);
  padding: 0 1rem;
}

.button a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.navButton {
  padding: 13px 25px;
  font-weight: 300;
  font-size: 13px;
  margin: 12px 0;
  background-color: var(--color-bright-red);
  box-shadow: 0px 15px 15px -10px #ff9f8e;
  border-radius: 22px;
  display: none;
}
.navButton a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.button {
  padding: 13px 25px;
  font-weight: 300;
  font-size: 13px;
  margin: 12px 0;
  background-color: var(--color-bright-red);
  box-shadow: 0px 15px 15px -10px #ff9f8e;
  border-radius: 22px;
}

.ctaContent {
  display: flex;
  flex-direction: column;
}
.ctaButton a {
  color: var(--color-bright-red);
  text-decoration: none;
}

.ctaButton {
  padding: 13px 25px;
  font-weight: 700;
  font-size: 13px;
  margin: 12px 0;
  background-color: white;
  border-radius: 22px;
}

.responsive {
  width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.list {
  position: relative;
  padding: 10px 20px 10px 50px;
  background-color: transparent;
  color: var(--color-dark-blue);
  font-size: 14px;
}

.list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -5.6%;
  bottom: 0;
  background-color: var(--color-very-pale-red);
  z-index: -1;
  border-radius: 39px 0 0 39px;
}

.number {
  position: absolute;
  background-color: var(--color-bright-red);
  margin-right: 20px;
  border-radius: 39px;
  padding: 10px 20px;
  color: white;
}
.marginBottom {
  margin-bottom: 4rem;
}

.swiper :global(.swiper-pagination-bullet) {
  background-color: white;
  border: 2px solid var(--color-bright-red);
  opacity: 1;
}

.swiper :global(.swiper-pagination-bullet-active) {
  background-color: var(--color-bright-red);
  opacity: 1;
}

.slider {
  position: relative;
  background-color: var(--color-very-light-gray);
  overflow: visible;
  padding: 1rem;
  margin: 3rem 0 3rem 0;
  height: 250px;
}
.slider h6 {
  font-size: 16px;
  line-height: normal;
  font-weight: 700;
  color: var(--color-dark-blue);
}
.slider p {
  font-size: 14px;
  color: var(--color-dark-grayish-blue);
}
.sliderAvatar {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.sliderAvatar img {
  width: 100px;
}
.sliderText {
  position: relative;
  z-index: 0;
  text-align: center;
  padding-top: 40px;
}
.cta {
  background-color: var(--color-bright-red);
  margin-top: 1.5rem;
  padding: 3rem 1rem;
}
.cta h2 {
  font-size: 40px;
  color: white;
}
.footer {
  background-color: black;
  color: white;
  padding: 50px 0 15px;
}
.footerContainer {
  width: 90%;
  max-width: 1140px;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer ul {
  list-style: none;
  margin: 2rem 0;
}
.footer ul li {
  margin: 1rem 0;
}
.footer ul li a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.link {
  display: flex;
  gap: 3rem;
}
.social {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.social img {
  width: 30px;
}

.errorMessage {
  color: red;
  font-size: 10px;
  margin-left: 5px;
  font-style: italic;
}
.footer form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.emailInput {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.errorMessageContainer {
  height: 20px;
  justify-items: flex-start;
}
.logo {
  justify-self: center;
  margin-top: 2rem;
}
.copyRight {
  font-size: 13px;
  text-align: center;
  margin-top: 2rem;
}
.footer input {
  width: 100%;
  height: 44px;
  padding: 0 10px;
  border-radius: 22px;
  border: none;
}

.error {
  border: 2px solid;
  border-color: red;
  color: red;
}

.footer input::placeholder {
  color: #8d8d8d;
  font-weight: 400;
  font-size: 13px;
  opacity: 1;
}
.footer input:focus {
  outline: none;
}
.footer button {
  padding: 15px 30px;
  border-radius: 22px;
  border: none;
  font-weight: 700;
  background-color: var(--color-bright-red);
  color: white;
}
.footer button:hover {
  opacity: 0.7;
}
.footerLogo {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0;
}
.logoPath {
  fill: #fff;
  transition: fill 0.3s ease;
}
.socialsPath:hover {
  fill: var(--color-bright-red);
}
.footerLogo p {
  font-size: 13px;
  color: #ffffff;
}

@media (min-width: 640px) {
  .nav {
    padding: 2rem 0;
  }
  .mobileNav {
    position: static;
    background-color: transparent;
    justify-content: space-between;
    transform: translateX(0);
    gap: 1rem;
    width: auto;
  }
  .mobileNav ul {
    display: flex;
    padding: 0;
  }
  .nav ul li a {
    padding: 0 10px;
    font-size: 13px;
  }
  .nav ul li a:hover {
    opacity: 0.5;
  }
  .navButton {
    display: block;
  }
  .navButton:hover {
    opacity: 0.5;
  }
  .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .headerText {
    margin: 0;
  }
  .headerText,
  .paragraphText {
    text-align: left;
  }
  .headerImage {
    width: 50%;
  }
  .heroText {
    width: 50%;
  }
  .headerImage img {
    width: 370px;
    height: auto;
  }
  .button:hover {
    opacity: 0.5;
  }
  .main {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 5rem 0;
  }
  .mainHeader,
  .main p {
    text-align: left;
    padding: 0;
  }
  .ctaButton:hover {
    opacity: 0.9;
  }
  .listText {
    margin-left: 70px;
  }
  .left {
    justify-content: left;
  }

  .number {
    position: static;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .list {
    padding: 10px 20px 10px 0;
  }
  .toggleButton {
    display: none;
  }
  .ctaContent {
    flex-direction: row;
    justify-content: space-between;
  }
  .cta h2 {
    text-align: left;
    max-width: 500px;
  }
  .bgTablet {
    background-image: url('/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .list::before {
    content: none;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background-color: transparent;
    z-index: auto;
    border-radius: 0;
  }
  .link ul li a:hover {
    color: var(--color-bright-red);
  }
}

@media (min-width: 992px) {
  .header {
    padding-top: 3rem;
  }
  .heroText {
    width: 40%;
  }
  .headerText {
    font-size: 45px;
  }
  .headerImage {
    width: 60%;
  }
  .headerImage img {
    width: 70%;
    height: auto;
  }
  .main {
    gap: 10rem;
  }
  .listText {
    margin-left: 0 0 0 80px;
  }
  .logo {
    grid-area: logo;
    justify-self: start;
    margin-top: 0;
  }
  .form {
    grid-area: form;
    justify-self: center;
  }
  .link {
    grid-area: link;
    justify-self: center;
    gap: 6rem;
  }
  .copyRight {
    grid-area: copyRight;
    justify-self: flex-end;
    font-size: 13px;
    text-align: right;
  }
  .copyRight p {
    color: #ffffff;
  }
  .social {
    grid-area: social;
    justify-content: flex-start;
    justify-self: start;
    gap: 1rem;
  }

  .social img {
    width: 20px;
  }

  .footerContainer {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'logo link form'
      'social link copyRight';
  }
  .footer ul {
    margin: 0;
    padding: 0;
    grid-area: list;
  }
  .footer ul li {
    margin: 0 0 1rem 0;
  }
}
